
@{
    ViewBag.Title = "Lienhe";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2"></script>
<h2 style="text-align: center ; color: red">Thông tin cửa hàng</h2>

<center>Công ty Cổ phần Đầu tư LAPTOPNEW (LTN) là nhà bán lẻ số 1 Việt Nam về doanh thu và lợi nhuận, với mạng lưới hơn vài cửa hàng trên toàn quốc. LTN vận hành các chuỗi bán lẻ LAPTOPNEW.Hỏi</center>
LAPTOPNEW.HỎI được thành lập từ năm 2019, là chuỗi bán lẻ thiết bị công nghệ ( laptop và phụ kiện) có thị phần số 1 Việt Nam với hơn 1  tỷ cửa hàng hiện diện tại 63 tỉnh thành trên khắp Việt Nam.
<h2 style="text-align: center ; color: red">Liên hệ</h2>
Liên hệ với chúng tôi qua :
    <center> <div class="fb-page" data-href="https://www.facebook.com/Laptop-New-327540194614410" data-tabs="timeline" data-width="300" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">LAPTOPNEW</a></blockquote></div></center>
    <h3 style="text-align: center ; color: red">Youtube</h3>
    <div class="g-ytsubscribe" data-channel="GoogleDevelopers" data-layout="default" data-count="default"></div>
    <h3 style="text-align: center ; color: red">Địa chỉ liên hệ</h3>
    <div></div>475 A Điện Biên Phủ, Phường 25, Bình Thạnh, Hồ Chí Minh, Việt Nam</div>
   <div> SĐT: 0303030303</div>
    <div>Website: LAPTOPNEW.HỎI</div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.120335130727!2d106.71240001433067!3d10.802094592304126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBIdXRlY2g!5e0!3m2!1svi!2s!4v1552909764574" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


    <script src="~/Scripts/platform.js"></script>

    </body>